*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 85vw;
    height: 35vh;
    margin: 35px 10%;
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
    background-position: 0 40%;
    padding: 0.5rem;   
}
header h1{
   position: absolute;
   padding-top: 0.5rem;
   top: -1.5vh;
   left: 20.5vh;
   text-align: center;
   font-family: sans-serif;
}
nav{
    position: absolute;
    top: 0.5%; left: 58%;
    text-align: right;   
}
nav a{
    
    display: inline-block;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 0.5rem;
    text-align: center;
    text-decoration:none;
    border-bottom: 0.5;
    border-style:solid;
    border-color: black;
    box-shadow: 5px 5px #BBB2B0; 
    font-family: sans-serif;       
}
a:hover{
    color: black;
    background-color: rgb(172, 212, 245);
}
.active{
background-color: rgb(31, 172, 31);
}
.h2{
    
    top: 35%; left: 40%;
    text-align: center;
    border: 2px solid black;
    margin: -20px 5% 50px 10%;
    font-size: 3vh;
}
p{
    text-align: center;
}
section>div{
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align:justify;
    gap: .5rem;
}
#listas>div{
    list-style-position:inside;
}
dt, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform:uppercase;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
ol, li{
    padding-bottom: 0.5rem;
}
dd{
    line-height: 1.5rem;
    text-indent: 1.5rem; 
}
ul{
    text-indent: 2.5rem;
    list-style-type: circle;
}
.img-logo{
    width: 10vw;
    align-items: center;
    
}
.img-hockey{
    height: 200px;
    margin: 50px;
}

h3{
    line-height: 2;
    padding-left: 25px;
}
div p{
    line-height: 1.5;
    text-indent: 1%; 
    text-align:left;
    padding-left: 40px;
    font-family: sans-serif;
    font-weight: bold;
}
section #tablas{
    list-style-position:inside;
}
caption{
    text-align: left;
    padding: .3rem;
}
.linea{
    text-decoration: underline;
}
tbody tr:nth-child(even){
    background-color: #faf3ea;
}

tbody tr:nth-child(odd), thead tr, tfoot tr{
    background-color: #e8dff7;
}
table{
    table-layout: auto;
    border-collapse: separate;
}
.contact{
    display: flex;
    font-family:'Lucida Sans';
}

div p.phone,div p.email{
    width: 70%;
}
footer>p{
    font-family:'Times New Roman', Times, serif;
}